{% extends "layout.html" %}

{% block title %}Song Share{% endblock %}

{% block content %}

<h2>Home</h2>

{% for message in get_flashed_messages() %}
<p class="info">
  {{ message }}
</p>
{% endfor %}

{% for thread in threads %}
<div class="thread">
  <p>
    <a href="/thread/{{ thread.id }}">{{ thread.title }}</a>
  </p>
  <p>
    {{ thread.total }} messages, latest {{ thread.last }}
  </p>
</div>
{% endfor %}

<p class="page-nav">
  <a href="/{{ page - 1 }}">&lt;&lt;</a>
  Page {{ page }}/{{ page_count }}
  <a href="/{{ page + 1 }}">&gt;&gt;</a>
</p>

{% if session.user_id %}
<h3>New post</h3>

<form action="/new_thread" method="post">
  <p>
    <label for="title">Title</label>:<br />
    <input type="text" id="title" name="title" maxlength="100" required />
  </p>
  <p>
    <label for="content">Content</label>:<br />
    <textarea id="content" name="content" rows="5" cols="40" maxlength="5000"></textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Submit" />
</form>
{% endif %}

{% endblock %}
