{% extends "layout.html" %}

{% block title %}User {{ user.username }}{% endblock %}

{% block content %}

<h2>User {{ user.username }}</h2>

{% for message in get_flashed_messages() %}
<p class="info">
  {{ message }}
</p>
{% endfor %}

{% if user.has_image %}
<img src="/image/{{ user.id }}" alt="User {{ user.username }} picture">
{% endif %}

{% if user.id == session.user_id %}
<p>
  <a href="/add_image">Add a profile picture</a>
</p>
{% endif %}

<p>
  User has sent {{ messages | count }} messages
</p>

{% if messages %}
<p>
  First message sent {{ messages[-1].sent_at }}
</p>
<p>
  Last message sent {{ messages[0].sent_at }}
</p>
{% endif %}

<h3>Messages</h3>

<ul>
{% for message in messages %}
  <li>
    <a href="/thread/{{ message.thread_id }}#{{ message.id }}">
      {{ message.thread_title }}
    </a>
    <br />
    ({{ message.sent_at }})
  </li>  
{% endfor %}
</ul>

{% endblock %}
